body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#navbar {
  background-color: #246a73;
  color: #f4ede5;
  text-align: left;
  padding: 1rem 5; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra en la parte inferior del navbar */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5 1rem; /* Agrega un poco de espacio a los lados del contenedor */
}

/* Estilos para los enlaces del navbar */
.nav-link {
  color: #f4ede5;
  text-decoration: none;
  margin: 5 1rem; 
  transition: color 0.3s ease; /* Agrega una transición de color suave */
}

.nav-link:hover {
  color: #f7f7f7; 
}